<!DOCTYPE html>
<html>
  <head>
    <title>Show Me The Movie!</title>

	<!--Main styles-->
	<link rel='stylesheet' href='../../stylesheets/style.css' />
	 <link rel='icon' href='../../favicon.png'> 

	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

	<noscript>Turn on javascript to use this page.  xoxo!</noscript>
  </head>
  <body>
  	<header>
  		<a id='portfolio' href="http://brettwilson.rocks" target="_blank">Portfolio</a>
  		<h1>Show Me the Movie!</h1>
  		<nav class="clearfix">
  			<a href="/">Home</a>
  			<a href="/movies">Search</a>
  			<a href="/logout">Logout</a>
  		</nav>
  	</header>

