<!DOCTYPE html>
<html>
  <head>
    <title>SMTM!</title>

	<!--Main styles-->
	<link rel='stylesheet' href='../../stylesheets/style.css' />

	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

	<noscript>Turn on javascript to use this page.  xoxo!</noscript>
  </head>
  <body>
  	<header>
  		<h1>Show Me the Movie!</h1>
  		<nav class="clearfix">
  			<a href="/">Login</a>
  			<a href="/movies">Search</a>
  		</nav>
  	</header>

