<% include ./partials/header %>

	<section class="section_back">
		<form class="form" id="login_form" action="/" method="post" name="login_form">
			<h2>Please Login or Register</h2>
			
			<% if (msg) { %>
				<p class="notes"><%= msg %></p>
			<% } %>

			<input type="text" placeholder="Enter your email" name="email" id="email" required>
			<input type="password" placeholder="Enter your password" name="password" id="password" required>
			<input id="login_btn" type='submit' value="Login">
		</form>

		<a href="/registration"><button id="register_btn">Register</button></a>
	</section>

<% include ./partials/footer %>
