<% include ./partials/header %>

	<section class= "background" id="user_background">
		<form id="login_form" action="/" method="post" name="login_form">
			<h2>Please Login</h2>

			<% if (msg) { %>
				<p class="notes"><%= msg %></p>
			<% } %>

			<input type="text" placeholder="Enter your email" name="email" id="email" required>
			<input type="password" placeholder="Enter your password" name="password" id="password" required>
			<div class="btn_group">
				<input class="primary_btn" type='submit' value="Login">
				<a class="secondary_btn" href="/register">Register</a>
			</div>
		</form>
	</section>

<% include ./partials/footer %>
