<% include ./partials/header %>
<section class="section_back">
	<form class="form" id="user_form" name="user_form" action="/registration" method="post">
		<h2>New User Registration</h2>

		<% if (msg) { %>
			<p class="notes"><%= msg %></p>
		<% } %>

		<input type="text" id="email_box" name="email" placeholder="Email" required>
		<input type="password" id="password_box" name="password" placeholder="Password" required>
		<div>
			<input type="submit" id="submit_user_btn" name="submit_user" value="Submit" required>
			<a href="/" id="cancel_reg">Cancel</a>
		</div>
	</form>
</section>
<% include ./partials/footer %>
