<% include ./partials/header %>
<section class= "background" id="user_background">
	<form id="user_form" name="user_form" action="/register" method="post">
		<h2>New User Registration</h2>

		<% if (msg) { %>
			<p class="notes"><%= msg %></p>
		<% } %>

		<input type="text" id="email_box" name="email" placeholder="Email" required>
		<input type="password" id="password_box" name="password" placeholder="Password" required>
		<div class="btn_group">
			<input class="primary_btn" type="submit" value="Register" required>
			<a class="secondary_btn" href="/">Cancel</a>
		</div>
	</form>
</section>
<% include ./partials/footer %>
