<% include ./partials/header %>
	<section class="background" id="movies_background">
		<div id="movie_details_head" class="wrapper">
			<div class="wrapper">

				<h2>
					<% if(my_object.hasOwnProperty('Title')) { %>
						<%= my_object.Title %>
						<%} else { %>
					       <%= 'Movie title n/a' %>
					   <% } %>
				</h2>

				<ul>
					<% for (var key in my_object) { %>
						<% if(key == 'Title') { continue } %>
						<li><%= key.toUpperCase() + ': ' + my_object[key] %></li>
					<% } %>
				</ul>


			</div>
		</div>
	</section>
<% include ./partials/footer %>
