<% include ./partials/header %>
	<section class="background" id="movies_background">
		<div id="movie_details_head" class="wrapper">
			<div class="wrapper">
				<p class="notes"><%= user.email %></p>

				<p><%= movie.results[0].display_title %></p>				


			</div>
		</div>
	</section>
<% include ./partials/footer %>
