<% include ./partials/header %>
	<section class="background" id="movies_background">
		<div id="movie_details_head" class="wrapper">
			<div class="wrapper">
				<p class="notes"><%= user.email %></p>

				<p><%= my_object.display_title  %></p>

			</div>
		</div>
	</section>
<% include ./partials/footer %>
