<% include ./partials/header %>
	<section class="code_back">
		<div>
			<h2 id="movie_title"></h2>
			<form id="favs_form">
				<input type="checkbox" id="favs_box" name="favs" value=0><p>Mark as favorite</p>
				<input type="submit" id="favs_submit" name="favs_submit" value="Submit">
			</form>
		</div>
		<div id="reviews_container">
			<ul id="reviews_list">
				<li><%= 'status' %></li>	
			</ul>
		</div>
	</section>
<% include ./partials/footer %>
