* {padding: 0; margin: 0; box-sizing: border-box}

body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  background-color: grey;
}
header {
	background-color: rgb(50,50,50);
	text-align: center;
	padding: 2rem 1rem 0;
	font-variant: small-caps;
}
footer {
	padding: 3rem;
	background-color: rgb(50,50,50);
	text-align: center;
	color: white;
	font-size: 1.5rem;
}
h1 {
	color: red;
	font-size: 3rem;
}
nav {
	background-color: rgb(50,50,50);
	text-align: center;
	margin: 0 auto;
}
a {
	color: yellow;
	text-decoration: none;
	font-size: 1.2rem;
}
a:hover {
	color: red;
}
a.secondary_btn {
	padding: .5rem 1rem;
	font-size: 1.75rem;
	color: white;
	margin-left: 1rem;
}
a.secondary_btn:hover {
	color: red;
}
a#portfolio {
	position: absolute;
	top: 0;
	left: 10px;
	padding: .5rem .25rem;
}
p#username {
	color: white;
	position: absolute;
	top: 0;
	right: 10px;
	padding: .5rem .25rem;
}
nav a {
	padding: .5rem;
	display: inline-block;
}
nav a + a {
	margin-left: 2rem;
}
.notes {
	margin: 2rem 0;
	color: white;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 300;
}
section.background {
	height: 100%;
	padding: 3rem;
	margin: 0 auto;
	background-position: center top;
}
section#user_background {
	background-image: url("../images/stars.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
section#movies_background {
	background-image: url("../images/matrix.jpg");
	background-repeat: repeat;
}
form {
	background-color: rgba(50,50,50,.9);
	margin: 0 auto;
	width: 50%;
	padding: 2rem;
	border-radius: 5px;
}
h2 {
	color: white;
	text-align: center;
	width: 80%;
	margin: 0 auto 2rem;
	font-size: 1.75rem;
	border-radius: 5px;
	font-weight: thin;
}
form input {
	padding: .5rem 1rem;
	font-size: 1.5rem;
	display: block;
	margin: 0 auto 1rem;
	border-radius: 5px;
	text-align: center;
	width: 80%;
}
form input.primary_btn {
	display: inline;
	width: auto;
	margin: 0;
}
form input.primary_btn:hover {
	background-color: red;
}
form input#search_btn {
	width: auto;
	margin: 2rem auto 0;
}
form input#search_btn:hover {
	background-color: red;
}
form div.btn_group {
	margin: 2rem auto 0;
	text-align: center;
}
div#movie_results_box {
	background-color: rgba(50,50,50, 0.85);
	margin: 1rem auto 0;
	width: 50%;
	padding: 2rem;
	border-radius: 5px;
}
div#movie_results_box div {
	text-align: center;
}
div#movie_results_box div + div {
	margin-top: 1rem;
}
div#movie_results_box a {
	text-decoration: none;
	color: yellow;
	font-size: 1.5rem;
}
div#movie_results_box a:hover {
	text-decoration: none;
	color: red;
}
/*show movie ejs css*/
section div h2#movie_title {
	text-align: center;
	padding: 1rem;
	background-color: lightgrey;
	min-width: 50%;
	margin: 0 auto;
	font-size: 2rem;
	border-radius: 5px;
	display: inline-block;
}
div#movie_details_head {
	text-align: center;
	background-color: rgba(50,50,50,.9);
	border-radius: 5px;
	padding: 2rem;
	margin: 0 auto;
}
div#movie_details_head p {
	color: white;
	font-weight: 300;
	margin-top: 1rem;
}
div#movie_details_head p.ital {
	font-style: italic;
}
ul {
	color: white;
	list-style-type: none;
	line-height: 2.25rem;
	font-size: 1.25rem;
}
.wrapper {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}