* {padding: 0; margin: 0; box-sizing: border-box}

body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  background-color: grey;
}
header {
	background-color: rgb(50,50,50);
	text-align: center;
	padding: 2rem 2rem 0;
	font-variant: small-caps;
}
h1 {
	color: red;
	font-size: 3rem;
}
nav {
	background-color: rgb(50,50,50);
	text-align: center;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
nav a {
	color: yellow;
	padding: .5rem;
	font-size: 1.2rem;
	display: inline-block;
}
nav a:hover {
	background-color: red;
}
nav a + a {
	margin-left: 2rem;
}
.notes {
	margin-top: 2rem;
	color: white;
	text-align: center;
	font-size: 1.5rem;
}	
footer {
	padding: 3rem;
	background-color: rgb(50,50,50);
	text-align: center;
	color: white;
	font-size: 1.5rem;
}
section {
	height: 100%;
}
.section_back {
	background-image: url("../images/stars.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 3rem;
	margin: 0 auto;
}
.code_back {
	background-image: url("../images/matrix.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 3rem;
	margin: 0 auto;
}
.form {
	background-color: rgba(50,50,50,.85);
	margin: 0 auto;
	width: 50%;
	padding: 2rem;
	border-radius: 5px;
}
.form h2 {
	text-align: center;
	padding: 1rem;
	background-color: lightgrey;
	width: 80%;
	margin: 0 auto;
	font-size: 2rem;
	border-radius: 5px;
}
.form input, #register_btn {
	padding: .5rem 1rem;
	font-size: 1.75rem;
	display: block;
	margin: 2rem auto 0;
	border-radius: 5px;
	text-align: center;
}
#user_form div {
	margin: 0 auto;
	text-align: center;
}
#user_form input[type='submit'] {
	display: inline;
}
a#cancel_reg {
	padding: .5rem 1rem;
	font-size: 1.75rem;
	display: inline;
	margin: 2rem;
	text-align: center;
	text-decoration: none;
	color: white;
}
a#cancel_reg:hover {
	color: red;
}
div#movie_results_box {
	background-color: rgba(50,50,50, 0.85);
	margin: 1rem auto 0;
	width: 50%;
	padding: 2rem;
	border-radius: 5px;
}
div#movie_results_box h2 {
	text-align: center;
	padding: 1rem;
	background-color: lightgrey;
	width: 80%;
	margin: 0 auto 1.5rem;
	font-size: 2rem;
	border-radius: 5px;
}
div#movie_results_box div {
	text-align: center;
}
div#movie_results_box div + div {
	margin-top: 1rem;
}
div#movie_results_box a {
	text-decoration: none;
	color: yellow;
	font-size: 1.5rem;
}
div#movie_results_box a:hover {
	text-decoration: none;
	color: red;
}
/*show movie ejs css*/
section div h2#movie_title {
	text-align: center;
	padding: 1rem;
	background-color: lightgrey;
	min-width: 50%;
	margin: 0 auto;
	font-size: 2rem;
	border-radius: 5px;
	display: inline-block;
}
div#movie_details_head {
	text-align: center;
	background-color: rgba(50,50,50,.9);
	border-radius: 5px;
	padding: 2rem;
	margin: 0 auto;
}
div#movie_details_head p {
	color: white;
	font-weight: 300;
	font-size: larger;
	margin-top: 1rem;
}
div#movie_details_head p.ital {
	font-style: italic;
}

.wrapper {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}